@page

@model ToDoListApp.Web.Pages.ToDo.SearchModel
@{
    ViewData["Title"] = "Search - TODO";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Optional: specify explicitly
}

<div class="container">
    <h1 class="display-4 text-center mb-3">@ViewData["Title"]</h1>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row mb-3">
                            <label asp-for="TitleFilter" class="control-label col-sm-2 col-form-label"></label>
                            <div class="form-group col-sm-8">
                                <input asp-for="TitleFilter" class="form-control">
                            </div>
                            <span asp-validation-for="TitleFilter" class="text-danger"></span>
                            <div class="form-group col-sm-2">
                                <button type="submit" class="btn btn-primary mb-2">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    @if (Model.ToDoLists.Count > 0)
    {
        <div class="row mb-3">
            <div class="col-12">
                <h4>Results</h4>
                @foreach (var list in Model.ToDoLists)
                {
                    <div class="card my-1">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => list.Title)</h5>
                            <a asp-controller="ToDoList" asp-action="Detail" asp-route-id="@list.Id" class="btn btn-outline-primary">Show details</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.ToDoLists.Count == 0)
    {
        <div class="card border-warning mb-3">
            <div class="card-header">No TODO lsists found</div>
            <div class="card-body">
                <p class="card-text">Fill in a search term (or nothing) and click on the button to show the matching TODO lists</p>
            </div>
        </div>
    }
</div>
