@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Fusce malesuada mi ac diam porta pretium. Quisque ultricies justo risus, at suscipit odio consectetur nec. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam id lorem sit amet neque sagittis blandit. 
        Nunc sit amet lacus arcu. Ut tincidunt risus egestas sapien euismod sodales. 
        Duis eleifend feugiat urna, quis venenatis justo ultricies molestie. 
        Cras purus enim, vestibulum a tempor et, viverra at lacus. 
        Quisque eget lorem turpis. Nam consequat quis odio eu malesuada. 
        Duis suscipit libero quis magna volutpat iaculis. 
        Nunc fringilla justo eget sapien sollicitudin, id laoreet tortor vehicula. In vel justo a justo rutrum posuere et sed quam. 
        Quisque egestas, velit a molestie placerat, nulla ligula condimentum est, non aliquam erat nibh id ex. 
        Donec ut nulla vestibulum, tincidunt dui sit amet, sodales arcu.
    </p>
</div>
